* {
  margin: 0;
  padding: 0;
}

.Body {
  
  overflow-x: hidden;
  background-color: #00E0FF;
  height: 100vh;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item {
  font-size: 2rem;
  margin: 5px 100px;
  color: black;
}
.navbar {
  padding: 20px;
}
.me-auto {
  margin: 20px;
}
.logo {
    height: 200px;
    width: 200px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.front-reg-btn {
  position: relative;
  
  text-align: center;
}
.btn-wrapper {
  /* position: relative; */
 display: flex;
  align-items: center;
  justify-content: center; 
  
}