* {
  margin: 0;
  padding: 0;
}

.Body {
  
  overflow-x: hidden;
  background-color: #00E0FF;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-snap-align: start;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item {
  font-size: 2rem;
  margin: 5px 100px;
  color: black;
}
.navbar {
  padding: 20px;
}
.me-auto {
  margin: 20px;
}
.logo {
    height: 200px;
    width: 200px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.front-reg-btn {
  position: relative;
  text-align: center;
  height: 50px;
  width: 100px;
  padding: 10em;
}
.btn-wrapper {
  /* position: relative; */
 display: flex;
  align-items: center;
  justify-content: center; 
  
}
.card-mid-page {
  position: relative;
  top: 17em;
  background-color: white;
  height: 100vh;
  /* scroll-snap-align: end; */
}
.why-use-title {
  position: relative;
  top: 2em;
  font-size: 3rem;
  text-align: center;
}
.card {
  position: relative;
  top: 10em;
  height: 300px;
  width: 300px;
 
  box-shadow: 0 20px 50px rgb(20, 97, 240);
  
}

.card-head {
  text-align: center;
  
}
.card-body {
  font-size: 2rem;
}
.card-2 {
  position: relative;
  top: 10em;
  height: 300px;
  
  width: 300px;
  box-shadow: 0 20px 50px #B589D6;
}
.card-3 {
  position: relative;
  top: 10em;
  
  height: 300px;
  width: 300px;
  box-shadow: 0 20px 50px #FFA800;
}
.Container {
  position: relative;
  top: 10em;
}