* {
  margin: 0;
  padding: 0;
}

.Body {
  
  overflow-x: hidden;
  background-color: #00E0FF;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-snap-align: start;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item {
  font-size: 2rem;
  margin: 5px 100px;
  color: black;
}
.navbar {
  padding: 20px;
}
.me-auto {
  margin: 20px;
}
.logo {
    height: 200px;
    width: 200px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.front-reg-btn {
  position: relative;
  text-align: center;
  height: 50px;
  width: 100px;
  padding: 10em;
}
.btn-wrapper {
  /* position: relative; */
 display: flex;
  align-items: center;
  justify-content: center; 
  
}
.card-mid-page {
  position: relative;
  top: 17em;
  background-color: white;
  height: 100vh;
  /* scroll-snap-align: end; */
}
.why-use-title {
  position: relative;
  top: 2em;
  font-size: 3rem;
  text-align: center;
}
.card {
  position: relative;
  top: 10em;
  height: 300px;
  width: 300px;
 
  box-shadow: 0 20px 50px rgb(20, 97, 240);
  
}

.card-head {
  text-align: center;
  
}
.card-body {
  font-size: 2rem;
}
.card-2 {
  position: relative;
  top: 10em;
  height: 300px;
  
  width: 300px;
  box-shadow: 0 20px 50px #B589D6;
}
.card-3 {
  position: relative;
  top: 10em;
  
  height: 300px;
  width: 300px;
  box-shadow: 0 20px 50px #FFA800;
}
.Container {
  position: relative;
  top: 10em;
}

.sec {
  scroll-snap-align: start;
}

.Link {
  color: rgb(33, 33, 33);
  text-decoration: none;
  opacity: 70%;
}
.Link:hover {
  color: black;
  text-decoration: none;
}
.form-container {
  position: relative;
  height: 700px;
  width: 700px;
  top: 6em;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 20px;

}
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-register {
  position: relative;
  height: 300px;
  width: 300px;
  bottom: 10em;
}
.log-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.register-form {
  position: relative;
  display: inline-block;
  bottom: 5em;
}
.input-username {
  position: relative;
  padding: 5px;
  border-radius: 5px;
}
.input-password {
  position: relative;
  padding: 5px;
  border-radius: 5px;
}
.label-username {
  position: relative;
  font-size: 1.5rem;
  left: 5em;
  /* bottom: 20px; */
  /* padding: 5px; */
}
.label-password {
  position: relative;
  font-size: 1.5rem;
  left: 5em;
  /* top: 10px; */
  /* padding: 5px; */
}
.form {
  position: relative;
  top: 10em;
}
.assistants-title {
  position: relative;
  text-align: center;
}
.hr {
  position: relative;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  background-color: black;
}
.assistants-div {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.tom {
  position: relative;
  height: 200px;
  /* top: 10em; */
  border-radius: 5000px;
}
.card-container {
  position: relative;
  bottom: 5em;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.card-body {
  background-color: white;
}
.img-div {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.chat-div {
  position: relative;
  bottom: 5em;
  height: 500px;
  width: 600px;
  background-color: white; 
}
.chat-div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1210px) {
  .nav-item {
    font-size: 2rem;
    margin: 5px 70px;
    color: black;
  }
  .navbar {
    padding: 20px;
  }
  .card-mid-page {
    position: relative;
    top: 17em;
    background-color: white;
    height: 100vh;
    /* scroll-snap-align: end; */
  }
  .why-use-title {
    position: relative;
    top: 2em;
    font-size: 3rem;
    text-align: center;
  }
  .card {
    position: relative;
    top: 5em;
    height: 300px;
    width: 250px;
   
    box-shadow: 0 20px 50px rgb(20, 97, 240);
    
  }
  
  .card-head {
    text-align: center;
    
  }
  .card-body {
    font-size: 2rem;
  }
  .card-2 {
    position: relative;
    top: 5em;
    height: 300px;
    
    width: 250px;
    box-shadow: 0 20px 50px #B589D6;
  }
  .card-3 {
    position: relative;
    top: 5em;
    
    height: 300px;
    width: 250px;
    box-shadow: 0 20px 50px #FFA800;
  }
}
/* second media screen */
@media screen and (max-width: 990px) {
  .nav-item {
    font-size: 1rem;
    margin: 5px 30px;
    color: black;
  }
  .navbar {
    padding: 20px;
  }
  .card-mid-page {
    position: relative;
    top: 17em;
    background-color: white;
    height: 100vh;
    /* scroll-snap-align: end; */
  }
  .why-use-title {
    position: relative;
    top: 2em;
    font-size: 3rem;
    text-align: center;
  }
  .card {
    position: relative;
    top: 5em;
    height: 300px;
    width: 150px;
   
    box-shadow: 0 20px 50px rgb(20, 97, 240);
    
  }
  
  .card-head {
    text-align: center;
    
  }
  .card-body {
    font-size: 2rem;
  }
  .card-2 {
    position: relative;
    top: 5em;
    height: 300px;
    
    width: 150px;
    box-shadow: 0 20px 50px #B589D6;
  }
  .card-3 {
    position: relative;
    top: 5em;
    
    height: 300px;
    width: 150px;
    box-shadow: 0 20px 50px #FFA800;
  }
  .logo {
    height: 100px;
    width: 100px;
}
.front-reg-btn {
  position: relative;
  text-align: center;
  height: 50px;
  width: 80px;
  font-size: 1rem;
  /* padding: 2em; */
}
.card-body {
  font-size: 1.5rem;
}
.why-use-title {
  position: relative;
  top: 2em;
  font-size: 2rem;
  text-align: center;
}
}

@media screen and (max-width: 990px) {
  .nav-item {
    font-size: 1rem;
    margin: 5px 20px;
    color: black;
  }
  .navbar {
    padding: 20px;
  }
  .card-mid-page {
    position: relative;
    top: 17em;
    background-color: white;
    height: 100vh;
    /* scroll-snap-align: end; */
  }
  .why-use-title {
    position: relative;
    top: 2em;
    font-size: 3rem;
    text-align: center;
  }
  .card {
    position: relative;
    top: 5em;
    height: 300px;
    width: 150px;
   
    box-shadow: 0 20px 50px rgb(20, 97, 240);
    
  }
  
  .card-head {
    text-align: center;
    
  }
  .card-body {
    font-size: 2rem;
  }
  .card-2 {
    position: relative;
    top: 5em;
    height: 300px;
    
    width: 150px;
    box-shadow: 0 20px 50px #B589D6;
  }
  .card-3 {
    position: relative;
    top: 5em;
    
    height: 300px;
    width: 150px;
    box-shadow: 0 20px 50px #FFA800;
  }
  .logo {
    height: 100px;
    width: 100px;
}
.front-reg-btn {
  position: relative;
  text-align: center;
  height: 50px;
  width: 80px;
  /* font-size: .5rem; */
  /* padding: 2em; */
}
.card-body {
  font-size: 1.5rem;
}
.why-use-title {
  position: relative;
  top: 2em;
  font-size: 2rem;
  text-align: center;
}
}

@media screen and (max-width: 990px) {
  
  .card-mid-page {
    position: relative;
    top: 17em;
    background-color: white;
    height: 100vh;
    /* scroll-snap-align: end; */
  }
  .why-use-title {
    position: relative;
    top: 2em;
    font-size: 2rem;
    text-align: center;
  }
  .card {
    position: relative;
    top: 5em;
    height: 300px;
    width: 140px;
   
    box-shadow: 0 20px 50px rgb(20, 97, 240);
    
  }
  
  .card-head {
    text-align: center;
    
  }
  .card-body {
    font-size: 2rem;
  }
  .card-2 {
    position: relative;
    top: 5em;
    height: 300px;
    right: 10px;
    width: 140px;
    box-shadow: 0 20px 50px #B589D6;
  }
  .card-3 {
    position: relative;
    top: 5em;
    /* bottom: 5em; */
    right: 20px;
    height: 300px;
    width: 135px;
    box-shadow: 0 20px 50px #FFA800;
  }
.card-body {
  font-size: 1rem;
}
.why-use-title {
  position: relative;
  top: 2em;
  font-size: 2rem;
  text-align: center;
}
}
@media screen and (max-width: 490px) {
  
  .card-mid-page {
    position: relative;
    top: 17em;
    background-color: white;
    height: 100vh;
    /* scroll-snap-align: end; */
  }
  .why-use-title {
    position: relative;
    top: 2em;
    font-size: 2rem;
    text-align: center;
  }
  .card {
    position: relative;
    top: 5em;
    height: 300px;
    width: 135px;
   
    box-shadow: 0 20px 50px rgb(20, 97, 240);
    
  }
  
  .card-head {
    text-align: center;
    
  }
  .card-body {
    font-size: 2rem;
  }
  .card-2 {
    position: relative;
    top: 5em;
    height: 300px;
    /* right: 10px; */
    width: 135px;
    box-shadow: 0 20px 50px #B589D6;
  }
  .card-3 {
    position: relative;
    top: 5em;
    /* bottom: 5em; */
    /* right: 20px; */
    height: 300px;
    width: 135px;
    box-shadow: 0 20px 50px #FFA800;
  }
.card-body {
  font-size: 1rem;
}
.why-use-title {
  position: relative;
  top: 2em;
  font-size: 2rem;
  text-align: center;
}
}
@media screen and (max-width: 474px) {
  
  .card-mid-page {
    position: relative;
    top: 17em;
    background-color: white;
    height: 100vh;
    /* scroll-snap-align: end; */
  }
  .why-use-title {
    position: relative;
    top: 2em;
    font-size: 2rem;
    text-align: center;
  }
  .card {
    position: relative;
    top: 5em;
    height: 300px;
    width: 135px;
   
    box-shadow: 0 20px 50px rgb(20, 97, 240);
    
  }
  
  .card-head {
    text-align: center;
    
  }
  .card-body {
    font-size: 2rem;
  }
  .card-2 {
    position: relative;
    top: 5em;
    height: 300px;
    /* right: 10px; */
    width: 135px;
    box-shadow: 0 20px 50px #B589D6;
  }
  .card-3 {
    position: relative;
    top: 5em;
    /* bottom: 5em; */
    /* right: 20px; */
    height: 300px;
    width: 135px;
    box-shadow: 0 20px 50px #FFA800;
  }
.card-body {
  font-size: 1rem;
}
.why-use-title {
  position: relative;
  top: 2em;
  font-size: 2rem;
  text-align: center;
}
.nav-item {
  font-size: 1rem;
  margin: 5px 10px;
  color: black;
}
.navbar {
  padding: 20px;
}
}