{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %} {% block content %}
<h1>
  Welcome, {{ usr.name }}!
</h1>
<div>
  <table class="table table-hover table-striped table-dark" style="width: 700px;">
    <thead >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date Created</th>
        <th scope="col">Personality At</th>
      </tr>
    </thead>
    <tbody>
      {% for ava in avatar %}
      <tr>
        <td>{{ ava.name }}</td>
        <td>{{ ava.date_posted.strftime('%m/%d/%Y') }}</td>
        <td>{{ ava.personality }}</td>
        <td>{{ ava.dp }}</td>
        {% if ava.dp==1 %}
        <td><img class="img" src="{{ url_for('static', filename= 'avatar1.jpg') }}" height="40" alt=""></td>
        {% elif ava.dp==2 %}        
        <td><img class="img" src="{{ url_for('static', filename= 'avatar2.jpg') }}" height="40" alt=""></td>
        {% elif ava.dp==3 %}        
        <td><img class="img" src="{{ url_for('static', filename= 'avatar3.jpg') }}" height="40" alt=""></td>
        {% elif ava.dp==4 %}        
        <td><img class="img" src="{{ url_for('static', filename= 'avatar4.jpg') }}" height="40" alt=""></td>
        {% elif ava.dp==5 %}
        <td><img class="img" src="{{ url_for('static', filename= 'avatar5.jpg') }}" height="40" alt=""></td>        
        {% else %}
        <td><img class="img" src="{{ url_for('static', filename= 'avatar6.jpg') }}" height="40" alt=""></td>
        {%endif%}
        <td>
            <a
              href="{{ url_for('avatar.update_avatar', avatar_id=ava.id) }}"
              class="btn btn-outline-primary"
              role="button"
            >
              Edit
            </a>
        </td>        
        <td>
            <a
              href="{{ url_for('avatar.delete_avatar', avatar_id=ava.id) }}"
              class="btn btn-outline-danger"
              role="button"
            >
              Delete
            </a>
          </td>
        {% endfor %}
        </tbody>
    </tr>   
  </table>
</div>
{% endblock %}